<h1>NEW GAME !</h1>
<p>Your score <%= @socre %></p>


<ul style="display: inline-block;">
  <% @letters.each do |letter| %>
  <li><%=letter%></li>
  <% end %>
</ul>

<form action="score" method="post" class="form-inline">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="answer" class="form-control mb-2 mr-sm-2 offset-4">
  <input type="submit" value="test it!" class="btn btn-primary mb-2 mr-sm-2">
</form>
